<h1>Search</h1>

<p>
  <input type="text" #newquery>
  <button (click)="submit(newquery)">Search</button>
</p>

<div *ngIf="results">
    <div *ngIf="!results || results.length ==0">
      Nessun prodotto chiamato: '{{ query }}'
    </div>
  
    <div *ngIf="results &&  results.length > 0">
      <h1>Results</h1>
      <br>
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let t of results">
          <a [routerLink]="['/item', t.id]">{{t.name}}</a> <br>
          <img src="{{t.image_url}}" style="height: 200px; width: 100px;">
        </div>
      </div>
    </div>
    
  </div>